body{
    background-color:rgb(176, 198, 218)
;
}

#banner {
    height: 90vh;
}
:root{

    --bg1:#2d2A2B;
    --bg2:rgb(44,42,42);
    --body:rgb(95,86,86);
    --brand:#18e4c2;
    --white: rgb(116, 110, 110);
    --p:rgb(161,150,150);

}
.navbar {
    height: 10vh;

}
.navbar #navbar .nav-link.active{
color:var(--brand)!important;
}
.navbar .nav-link:hover {
    color:var(--brand)!important;
}
.banner{
    height: 90vh;
    background: url('https://th.bing.com/th/id/OIP.HLuY60jzx5puuKjbqmWRRwHaEK?w=310&h=180&c=7&r=0&o=5&cb=11&pid=1.7');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Buttom*/
.btn{
    padding:15px 30px;
    transition:all 0.4s ease;
    font-weight:800;
    border-radius:0;
}.btn{
    padding:15px 30px;
    transition:all o.4s ease;
    font-weight:800;
    border-radius:0;
}
.btn-brand {
    background-color: var(--brand);

}